:root {
	--pink-color: #FE5D86;
	--apricot-color: #FDC387;
	--peach-color: #FF9D85;
	--muted-text-color: #646464;
	--outline-gray: #D9D9D9;
	--background-active: #f0f0f0;
	--background-inactive: #ccc;
}