:root {
	--pink-color: #1c9a78;
	--apricot-color: #05512f;
	--peach-color: #FF9D85;
	--mint-color: #15B8A6;
	--lightmint-color: #1DE1E6;
	--gray-color: #76818D;
	--lightgray-color: #969FA8;
	--muted-text-color: #646464;
	--outline-gray: #D9D9D9;
	--background-active: #f0f0f0;
	--background-inactive: #ccc;
}