.container-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container-col {
	display: flex;
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-right {
	justify-content: right;
}

.width-100 {
	width: 100%;
}

.gradient-vertical {
	background: linear-gradient(180deg, var(--p-primary-300) 50%, var(--p-primary-500));
}

.gradient-horizontal {
	background: linear-gradient(90deg, var(--p-primary-300) 50%, var(--p-primary-500));
}

.underline-gray {
	border-bottom: 1px solid var(--outline-gray);
}

.header {
	padding: 0 1.5rem;
}

.header-left {
	justify-content: left;
	gap: 1rem;
}

.header-right {
	justify-content: left;
	gap: 1rem;
}

.ph-1rem {
	padding: 0 1rem;
}

.pv-1rem {
	padding: 1rem 0;
}

.gap-1rem {
	gap: 1rem;
}