.container-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container-column {
	display: flex;
	flex-direction: column;
}

.background-gradient {
	background: linear-gradient(180deg, var(--pink-color) 50%, var(--apricot-color));
}