.container-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container-col {
	display: flex;
	flex-direction: column;
}

.width-100 {
	width: 100%;
}

.gradient-vertical {
	background: linear-gradient(180deg, var(--pink-color) 50%, var(--apricot-color));
}

.gradient-horizontal {
	background: linear-gradient(90deg, var(--pink-color) 50%, var(--apricot-color));
}

.underline-gray {
	border-bottom: 1px solid var(--outline-gray);
}