:root{
	--syncday-pink-color: #FE5D86;
	--syncday-apricot-color: #FDC387;
	--syncday-peach-color: #FF9D85;
	--syncday-muted-text-color: #646464;
	--syncday-outline-gray: #D9D9D9;
	--syncday-background-active:  #f0f0f0;
	--syncday-background-inactive: #ccc;	
}