:root {
    --outline-gray: #D9D9D9;
}

body {
    background-color: transparent;
}

.gradient-vertical {
    background: linear-gradient(180deg, var(--p-primary-500) 50%, var(--p-primary-900));
}

.gradient-horizontal {
    background: linear-gradient(90deg, var(--p-primary-500) 50%, var(--p-primary-900));
}