.container-row {
    display: flex;
    flex-direction: row;
}

.container-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.width-100 {
    width: 100%;
}

.underline-gray {
    border-bottom: 1px solid var(--outline-gray);
}

.header {
    padding: 1rem;
}

.header strong {
    font-size: 2rem
}

.header-left {
    justify-content: left;
    gap: 1rem;
}

.header-right {
    justify-content: right;
    gap: 1rem;
}

.ph-1rem {
    padding: 0 1rem;
}

.pv-1rem {
    padding: 1rem 0;
}

.gap-1rem {
    gap: 1rem;
}